body {
	font-family: "Trebuchet MS";
	color: #535353;
}

a {
	color: #00aeef;
}

a:hover, a:focus{
	color: #00a5e2;
	text-decoration: none;
}

section {
	padding: 32px 0px;
}

/* button */

.btn-primary {
	padding: 12px 32px;
	border: none;
	color: #fff;
	background-color: #00aeef;
}

.btn-primary:hover {
	background-color: #00a5e2;
}

.btn-selengkapnya {

}

.btn-selengkapnya:hover {
	text-decoration: none;
}

/* end of button */

/* header */
header {
	border-top: 3px solid #00aeef;
}

.navbar-default .navbar-nav>li>a {
	color: #2a3744;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{
	color: #00aeef;
	background-color: transparent;
}

.navbar {
	margin-bottom: 0;
	min-height: 100px;
}

.navbar-default {
	background-color: #fff;
	border: none;
}

.navbar-nav {
	padding-top: 24px;
	font-size: 18px;
	font-weight: bold;
	color: #2a3744;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #00aeef;
}

.navbar-default .navbar-toggle {
	position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 32px;
    margin-right: 15px;
    margin-bottom: 32px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.search-icon {
	background: transparent url(assets/img/search-sprite.png) no-repeat;
	background-position: left top;
}


/* end of header */

/* banner */
.carousel-control.left, .carousel-control.right {
	background: none;
	outline: 0;
}

.carousel .carousel-control {
	visibility: hidden;
}

.carousel:hover .carousel-control {
	visibility: visible;
}
/* end of banner */

/* karakter */
#karakter {
	background-color: #00aeef;
	color: #fff;
}

.italic {
	font-style: italic;
}

.karakter-sprite {
	margin-bottom: 15px;
	display: inline-block;
	width: 64px;
	height: 64px;
	background: transparent url(assets/img/karakter-sprite.png) no-repeat;
	background-position: left top;
}

.karakter-sprite .islam {
	background-position: -64px top;
}

.karakter-sprite .prestasi {
	background-position: -128px top;
}

.karakter-sprite .sosial {
	background-position: -192px top;
}

/* end of karakter */

/* berita */
/* end of berita */

/* tulisan */
/* end of tulisan */

/* gallery */
/* end of gallery */

/* mitra */
/* end of mitra */

/* footer */
address strong {
	color: #c3ceda;
	font-weight: bold;
}

/* end of footer */

@media (min-width: 990px){
	.container {
	    	width: 960px;
		}
}

@media (max-width: 990px){ 
	  	.navbar-header {
        float: none;
    }

    .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 0px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 0px;
        padding-bottom: 12px;
        text-align: center;
    }

    .collapse.in {
    	display: block !important;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {


/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}

